---

- name: Ensure python dependencies are available
  ansible.builtin.package:
    name: "{{ python_pip | default(['python3-pip', 'python3-virtualenv']) }}"
    state: present

# https://github.com/yandex/gixy
- name: Install gixy
  ansible.builtin.pip:
    name: gixy
    state: present
    virtualenv: /usr/local/share/venv-gixy

- name: Validate nginx config with gixy
  ansible.builtin.shell: |
    set -o pipefail
    /usr/local/share/venv-gixy/bin/gixy /etc/nginx/nginx.conf | tee /var/log/gixy.log
  args:
    executable: /bin/bash
    creates: /var/log/gixy.log
  failed_when: false
