# {{ ansible_managed }}

large_client_header_buffers 2 1k;
client_header_buffer_size 1k;
{% if not ((ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 7) or ansible_distribution_release == 'bionic')%}
client_max_body_size 5m;
{% endif %}
client_body_buffer_size 10k;

add_header X-Content-Type-Options nosniff;
add_header X-Frame-Options SAMEORIGIN;
#add_header X-Frame-Options DENY;
add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
## https://www.w3.org/TR/upgrade-insecure-requests/
{% if not (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int <= 7) %}
if ($http_upgrade_insecure_requests = "1") {
    add_header Vary Upgrade-Insecure-Requests;
    return 307 https://$host$request_uri;
}
{% endif %}
add_header X-XSS-Protection "1; mode=block";
add_header Content-Security-Policy "{{ hardenwebserver_header_csp }}";
add_header Referrer-Policy "{{ harden_webserver_header_refpolicy }}";
## only if proxy: force cookie as secure+httponly. might break some app...
## + SameSite https://scotthelme.co.uk/csrf-is-dead/
#proxy_cookie_path / "/; secure; HttpOnly; SameSite";

## Note cookie are selective and must update $cookie_COOKIE to $cookie_target
log_format combined_long '$remote_addr - $remote_user [$time_local]  '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent" "$cookie_COOKIE"';
access_log /var/log/nginx/access-long.log combined_long;

{% if hardenwebserver_nginx_debian_pkg is defined and hardenwebserver_nginx_debian_pkg == 'nginx-naxsi' and hardenwebserver_nginx_naxsi is defined and hardenwebserver_nginx_naxsi %}
include /etc/nginx/naxsi.rules;
{% endif %}

